# local package
-e .

# external requirements
click
awscli
flake8
pandas
numpy  
python-dotenv>=0.5.1
openpyxl
confluent_kafka
pandera
boto3  
pyarrow  # Required: engine for pandas to read and write .parquet files